extends ../layout

block content
  if book
    div.admin
      h3
        a(href='/') Home
          img(src='/images/RainbowStar.gif-c200' width='25px') 
      h3 
        a(href='/books/edit/#{book.id}') Edit
          img(src='/images/RainbowStar.gif-c200' width='25px') 
      h3 
        a(href='#') Delete
          img(src='/images/RainbowStar.gif-c200' width='25px')
    h1= book.title
    
    img(src='#{book.url}' class='book-pic')
    
    p= book.description
    
    h2 Author
    if authors
      for author in authors
        h3 
          a(href='/authors/profile/#{author.id}') #{author.first} #{author.last}
  
    
  
        
