extends ../layout

block content
  div.admin
    h3
      a(href='/') Home
        img(src='/images/RainbowStar.gif-c200' width='25px') 
  if authors
    for author in authors
      h1 #{author.first} #{author.last}
      div.hearts
        img(src='#{author.url}')
      div.container
        div.container-border
          p #{author.bio}
      
      h2 Books
      if books[0] != null
        for book in books
          h3 
            a(href='/books/book_profile/#{book.id}') #{book.title}
      else
        p no books listed at this time
      
    
    
  
